<!DOCTYPE html>
<html>
<head>
    <title>Fire Drill Notification</title>
</head>
<body>
    <table width='100%' style='font-family:Verdana;font-size:12px;'>
        <tr><td align='center'><b><font size='5' color='#000088'>mySetu</font></b></td></tr>
        <tr><td align='right'><font size='2'>{{date}}</font></td></tr>
        <tr><td><hr></td></tr>
        <tr><td><b>Dear {{username}},</b><br />Good day!</td></tr>
        <tr><td style='font-size:10px;'>(NOTE: In case of clarification, please contact Fire & Safety)</td></tr>
    </table>
</body>
</html>


